@import "tailwindcss";
@plugin "../theme-plugin.cjs";

@layer base {
    html {
        font-size: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@theme {
    /* Fonts */
    --font-articulat: "articulat-cf", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --font-serif: "Playfair Display", serif;
    /* Colors */
    --color-white: #ffffff;
    --color-black: #0c0c0c;
    --color-black-light: #161616;
    --color-gray: #32373a;
    --color-gold: #b88a3b;
    --color-gray-light: #d3d3d3;
    --color-gray-dark: #313e4e;
    --color-blue-light: #00ffff;
    --color-orange: #f08c50;

    /* Scrims & Overlays */
    --color-scrim: rgba(12, 12, 12, 0.85);
}

/* Custom Utilities for the Dark Scrim */
@utility bg-hero-gradient {
    background: linear-gradient(to right, var(--color-scrim) 0%, rgba(12, 12, 12, 0.4) 50%, transparent 100%);
}
