@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 10px;
}

@media (max-width: 460px) {
	html {
		font-size: 2.174vw;
	}
}

strong {
    font-weight: lighter;
}

ul{
    list-style-type: square;
    list-style-position: inside;
}